

{% include "header.html" %}

<div class="Complain" xmlns="http://www.w3.org/1999/html">
  <h2>Update Complain Type</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <div class="tex-label">
        <label for="details">Details</label>
      </div>
      <div class="content_area">
        <input  class="form-controls" type="text" id="details" name="name" value="{{complain_type.name}}">

        <div class="marginbt30 status">Status
            <input type="checkbox" id="gender" name="status"  {% if Complain.status == True %} checked {% endif %} >
        </div>

        <div class="marginbt30 button">
          <input class="button_green" type="submit" name="submit" value="Update"/>
        </div>
      </div>
    </div>
  </form>
</div>

{% include "footer.html" %}