{% include "header.html" %}

    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h2 class="mt-4">Users</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ol>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a class="pull-right" href="http://" target="_blank" rel="noopener noreferrer" style="position: relative;top: 55%;">Add User</a>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>SL No</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>SL No</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for user in user_list %}
                        <tr>
                            <td>01</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td><a href="">Edit</a><a href="">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% include "footer.html" %}